extends layout

block content
  .page-header
    h3 New Module
    h5#exampleModalLongTitle.modal-title Module Control
    button.close(type='button' data-dismiss='modal' aria-label='Close')
      span(aria-hidden='true') &times;
    form(id='mod-form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .row.col-sm
          .form-group.col-sm
            label(for='x') Module X coordinate (along the seawall)
            input.form-control(type='number' id='x' name='x' value=x)
          .form-group.col-sm
            label(for='y') Module Y coordinate (distance from the seawall)
            input.form-control(type='number' id='y' name='y' value=y)
          .form-group.col-sm
            label(for='locationCode') Side of Seawall
            input.form-control( placeholder='E' id='locationCode' name='locationCode')
        .row.col-sm
          .form-group.col-sm
            label(for='model') Model
            select.form-control(id='model' name='model')
              option 3-d
              option 4-d
              option 5-d
              option fwm dock 20 footer
              option fwm dock 24 footer
          .form-group.col-sm
            label(for='shape') Shape and size
            select.form-control(id='shape' name='shape')
              option R3
              option R2.3
              option T3
              option T2.3
          .form-group.col-sm
            label(for='orientation') Angled Orientation
            select.form-control(id='orientation' name='orientation')
              option Flat
              option RH
              option LH
        .form-group
          label(for='notes' ) Notes
          textarea.form-control(rows='3' id='notes' name='notes')
        input(type='hidden' name='individualPlants' id='individualPlants' )
        .row
          #circle_1.col-lg-1
        .row
          .form-group.col-sm
            #selector1(data-selction='1')
              select#plant1.custom-select.form-control.active(name='plant1')
                option(selected='') Choose...
                  for plant in plants
                    option(value=plant._id)=plant.scientificName
          .form-group.col-sm
            #selector2(data-selction='2')
              select#plant2.custom-select.form-control(name='plant2')
                option(selected='') Choose...
                for plant in plants
                  option(value=plant._id)=plant.scientificName
          .form-group.col-sm
            #selector3(data-selction='3')
              select#plant3.custom-select.form-control(name='plant3')
                option(selected='') Choose...
                for plant in plants
                  option(value=plant._id)=plant.scientificName
          .form-group.col-sm
            #selector4(data-selction='4')
              select#plant4.custom-select.form-control(name='plant4')
                option(selected='') Choose...
                for plant in plants
                  option(value=plant._id)=plant.scientificName
          .form-group.col-sm
            #selector5(data-selction='5')
              select#plant5.custom-select.form-control(name='plant5')
                option(selected='') Choose...
                for plant in plants
                  option(value=plant._id)=plant.scientificName
        button.btn.btn-success( type='submit' )
          i.fas.fa-plus.fa-sm
          | Submit
        append partials/scripts 
          script(src='/js/plantPlacement.js')
