extends layout

block content


  .page-header
    h3 All Plants

  table#plants.table-sm.table-striped.table-bordered
    thead
      tr
        th(scope='col') Scientific Name
        th(scope='col') Common Name
        th(scope='col') Tags
        th(scope='col') Delete
        th(scope='col') Image
    tbody
    script.
      x = 0
    for plant in plants
      
      tr
        th(id=plant._id scope='row')= plant.scientificName
          td= plant.commonName
          td= plant.tags
          td 
            form
              .form-group(style='display: inline-block; width: 50px; margin-left: 10px;')
                input(type='hidden', name='_csrf', value=_csrf)
                button.btn.btn-outline-danger(class='plantDeleteButton', type='submit', formaction='/plants/delete/'+ plant._id, formmethod='POST', onclick="confirm('Are you sure you want to delete this plant?');" )
                  i.fas.fa-trash-alt
          td
            img(src=plant.botanicPhoto, style='width: 100px; height: 100px;')
          
        script.
          function hashCode(str) {
            let hash = 0;
            for (var i = 0; i < str.length; i++) {
              hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }
            return hash;
          }
          function pickColor(str) {
            return `hsl(${hashCode(str) % 550}, 80%, 80%)`;
          }
           g = '!{plant._id}';
           var element = document.getElementById(g);
           l = '!{plant.scientificName}'
           console.log(l.replace(/ .*/,''))
           element.style.backgroundColor = pickColor(l.replace(/ .*/,''));
