extends ../layout

block content
  div(id='individualTrashItems', data-individualItems= individualItems)
  h3 New Trash Log
  form(id='newTrashLog', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='logId', value= trashLogs._id)
    .row.col-sm
      .form-group.col-sm
        table#table(
          data-toggle="table" 
          data-click-to-select="true" 
          data-toolbar="#toolbar"
          data-query-params="queryParams"
          data-auto-refresh="true"
          )
          thead
            tr
              th(scope='col' data-width="50") Count
              th(data-field="catagory" scope='col' data-sortable="true") Catagory
              th(data-field="description" scope='col' data-sortable="true" ) Description
              th(data-field="material" scope='col' data-sortable="true") Material
              //th(scope='col' data-width="50") Total Weight (g)
              //th(scope='col' data-width="50") Advanced
          for trashItem in trashItems
              tr

                td 
                  .form-group.col-sm
                  .center
                    .input-group.col-sm
                      //- span.input-group-btn
                      //-   button#minus-btn.btn.btn-danger.btn-number(type='button',  field='quantity')
                      //-     i.bi-dash
                      input#quantity(type='number', value= '', name='quantity', min='0', max='100',size="10", class= trashItem.id, autocomplete="off", pattern="\d*")
                      input(type='hidden' name='itemId' value=`${trashItem._id}`)
                      //- span.input-group-btn
                      //-   button#plus-btn.btn.btn-success.btn-number(type='button',  field='quantity')
                      //-     i.bi-plus
                td= trashItem.catagory
                td= trashItem.description
                td= trashItem.material
                  //- .container.mt-5
                  //-   .row
                  //-     .col-sm-4
                  //-     .col-sm-4.col-sm-offset-4
                  //-       .input-group.mb-3
                  //-         .input-group-prepend
                  //-           button#minus-btn.btn.btn-dark.btn-sm
                  //-             i.fa.fa-minus
                  //-         input#qty_input.form-control.form-control-sm(type='number', value='1', min='1')
                  //-         .input-group-prepend
                  //-           button#plus-btn.btn.btn-dark.btn-sm
                  //-             i.fa.fa-plus
                  //-     .col-sm-4
                    //- input#quantity(type='number', name='quantity', min='0', max='50')
                //td
                //  .form-group.col-sm.center
                //    input#aggrigateWeight(type='number', name='aggrigateWeight', min='0', max'10000', size="4")
                //td
                //  button.btn.btn-sm(type='button')
                //    i.fa.fa-chevron-down.fa-sm
        .row.col-lg
          .form-group.col-sm
            button.btn.btn-success(type='submit')
              i.fas.fa-plus.fa-sm
              | Submit
              
                
  script(src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js")
  script(src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/toolbar/bootstrap-table-toolbar.min.js")
  script(src='https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js')
  script(src='https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js')
  script(src='../../js/trashlog.js')
