//- trashItem 
extends ../layout

block content
  append partials/header
    link(rel='stylesheet', href='https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css')
  .page-header
    h3 Trash in the river
  input(type='hidden', name='trashLog', data-trashLog=trashLog value=trashLog)
  input(type='hidden', name='trashItem',data-trashItem=trashItem, value=trashItem)
  input(type='hidden', id='individualTrashItem', data-individualTrashItem=individualTrashItem, value=individualTrashItem)
  .container
    #toolbar
      .form-inline(role='form')
        .form-group
          span Module Tags:
          input.form-control.w70(name='tags')
        //- .form-group
        //-   span Plant Tags:
        //-   input.form-control.w70(name='plantTags')
        //- .form-group
        //-   input.form-control(name='search' type='text' placeholder='Search')
        button#ok.btn.btn-primary(type='submit') OK
    table#table(
      data-show-export="true"
      data-toggle="table"
      data-url='/api/getInfo'
      data-click-to-select="true"
      data-toolbar="#toolbar"
      data-show-refresh="true"
      data-query-params="queryParams"
      )
      thead
        tr
          th(data-field="trashLog.timestamps" data-sortable="true") Date
          th(data-field="individualTrashItem" scope='col' data-sortable="true") Item
          th(data-field="trashItem" scope='col' data-sortable="true") Quantity
    script(src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js")
    script(src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/toolbar/bootstrap-table-toolbar.min.js")
    script(src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.js")
    script(src='https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js')
    script(src='https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js')
    script(src='https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js')
    script(src="/js/trashInfo.js")
