extends ../../layout

block content
  table#trash.table-sm.table-striped
    thead
      tr
        th(scope='col') Name
        th(scope='col') Description
        th(scope='col') Catagory
        th(scope='col') Material
    tbody
    for trashItem in trashItems
      tr
        td= trashItem.name
        td= trashItem.description
        td= trashItem.catagory
        td= trashItem.material

  .pb-2.mt-2.mb-4.border-bottom
    // - This should really be a modal instead of a single page
    h3 New Trash Item
  form(id='newTrash', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .row.col-sm
      .form-group.col-sm
        label(for='name') Name (no punctuation/spaces)
        input.form-control(type='textarea' id='name' name='name' required)
      .form-group.col-sm
        label(for='description') Description
        input.form-control(type='textarea' id='description' name='description' required)
      .form-group.col-sm
        label(for='catagory') Catagory
        select.form-control( id='catagory' name='catagory' required)
          option Smoking
          option Food
          opiton Dumping
          option Waterway Activities
          option Fragments
          option Misc
          option Medical - Hygenine

      .form-group.col-sm
        label(for='material') Material
        select.form-control( id='material' name='material' required)
          option Animal
          option Ceramic
          option Cigarettes
          option Cloth
          option Food
          option Glass
          option Metal
          option Mixed
          option Other
          option Paper
          option Plastic
          option Rubber
          option Styrofoam
          option Wood
    .row.col-sm
      .form-group.col-sm
        button.btn.btn-success(type='submit')
          i.fas.fa-plus.fa-sm
          | Submit
