extends ../layout

block content
    h3= project ? 'Edit Project' : 'New Project'
    div(class="container")
      form(id='newProject', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .row.col-sm
          .form-group.col-sm
            label(for='name') Name
            textarea.form-control( rows='1', id='name', name='name') #{project.name}
        .row.col-sm
          .form-group.col-sm
            label(for='dateInstalled') Date
            input.form-control(type='date' id='dateInstalled' name='dateInstalled' value= project.dateInstalled)
        .row.col-sm
          .form-group.col-sm
            label(for='notes') Notes
            textarea.form-control( rows='2' id='notes' name='notes' ) #{project.notes}
        .row.col-lg
          .form-group.col-sm
            button.btn.btn-success(type='submit')
              i.fas.fa-plus.fa-sm
              | Submit
          .form-group.col-sm  
            a.btn.btn-primary(href=` /projects/${project.id}/sections/new`, role='button')  
              i.fa.fa-plus
              | New Section
      if sections
        each section in sections 
          include ./sectionCard.pug